In [8]:
import pandas as pd
import numpy as np
import os
import csv 
import datetime
from dateutil.relativedelta import relativedelta  
from datetime import datetime as dt

In [9]:
filename = 'C:/Users/10513/Downloads/data2.csv'
data = pd.read_csv(filename)
print(data)

            date        money   money_typ
0     2017-01-01 -1923.096440        Food
1     2017-01-02   450.484246     Youtube
2     2017-01-03 -2103.161264    Shopping
3     2017-01-04  1438.913846      Salary
4     2017-01-05   -31.045009        Food
...          ...          ...         ...
1090  2019-12-27 -1196.151069    Shopping
1091  2019-12-28   822.706389     Youtube
1092  2019-12-29  1474.561401  Investment
1093  2019-12-30    41.899178        Gift
1094  2019-12-31  1808.048103      Salary

[1095 rows x 3 columns]

In [10]:
"""
income_type = ["Salary", "Investment","Gift","Other","Youtube"]
expend_type = ["Food", "Shopping", "Transport", "Fitness", "Entertainment", "Social", "Travel"]


incomelist = []
expendlist = []
for i in range(1484):
    a = np.random.choice(income_type)
    incomelist.append(a)
    
for j in range(1484):
    b = np.random.choice(expend_type)
    expendlist.append(b)
    
print(len(incomelist))
"""

'\nincome_type = ["Salary", "Investment","Gift","Other","Youtube"]\nexpend_type = ["Food", "Shopping", "Transport", "Fitness", "Entertainment", "Social", "Travel"]\n\n\nincomelist = []\nexpendlist = []\nfor i in range(1484):\n    a = np.random.choice(income_type)\n    incomelist.append(a)\n    \nfor j in range(1484):\n    b = np.random.choice(expend_type)\n    expendlist.append(b)\n    \nprint(len(incomelist))\n'

In [11]:
"""# Use the multi-axes indexing funtion
data.insert(data.shape[1], 'Income type', incomelist)
data.insert(data.shape[1], 'Expend type', expendlist)"""

"# Use the multi-axes indexing funtion\ndata.insert(data.shape[1], 'Income type', incomelist)\ndata.insert(data.shape[1], 'Expend type', expendlist)"

In [12]:
print(data.head(10))

         date        money   money_typ
0  2017-01-01 -1923.096440        Food
1  2017-01-02   450.484246     Youtube
2  2017-01-03 -2103.161264    Shopping
3  2017-01-04  1438.913846      Salary
4  2017-01-05   -31.045009        Food
5  2017-01-06  1147.704398     Youtube
6  2017-01-07   396.116433  Investment
7  2017-01-08   147.866878       Other
8  2017-01-09 -2484.228568      Travel
9  2017-01-10  -511.294807      Travel

In [13]:
data[data["date"]== '2018/1/1']

Empty DataFrame
Columns: [date, money, money_typ]
Index: []

In [14]:
def get_time_year(n):
    date_list = []
    if n == 2021:
        today = datetime.date.today()

        year_start_day = datetime.date(today.year, 1, 1)
        year_start_day.isoformat()
        
        year_end_day = today
        
        date_list = [year_start_day, year_end_day]
        
    else:
        year_start_day = datetime.date(n, 1, 1)
        year_start_day.isoformat()
        
        year_end_day = datetime.date(n+1, 1, 1) - datetime.timedelta(days=1)
        year_end_day.isoformat()
        date_list = [year_start_day, year_end_day]
        
    return date_list

In [15]:
def get_time_month(y,m):
    date_list = []

    month_start_day = datetime.date(y, m, 1)
    month_start_day.isoformat()

    month_end_day = datetime.date(y, m+1, 1) - datetime.timedelta(days=1)
    month_end_day.isoformat()
    date_list = [month_start_day, month_end_day]
        
    return date_list

In [16]:
def get_time_week(y,m,d):
    date_list = []
    if m < 10:
        a = "0"+"m"
    
        if d<10:
            b = "0"+"d"
        else:
            b = "d"
    else:
        b = "m"
    daystring = str(y)+str(m)+str(d)
    
    week=dt.strptime(daystring, "%Y%m%d").weekday()
    
    week_start_day = datetime.date(y, m, d)- datetime.timedelta(days=week)
    week_start_day.isoformat()

    week_end_day = datetime.date(y, m, d) + datetime.timedelta(days=6-week)
    week_end_day.isoformat()
    
    date_list = [week_start_day, week_end_day]
        
    return date_list

In [17]:
def get_csv_data(date_list):
    start = str(date_list[0])
    end = str(date_list[1])
    s = data[data.date==start].index.tolist()
    e = data[data.date==end].index.tolist()
    d1 = s + e
    date_range = []
    for i in range(d1[0],d1[1]+1):
        date_range.append(i)
        
    csv_data = data.loc[date_range,:]
    return csv_data

In [18]:
get_time_year(2018)
print(get_time_month(2018,2))
print(get_time_week(2018,12,3))

[datetime.date(2018, 2, 1), datetime.date(2018, 2, 28)]
[datetime.date(2018, 12, 3), datetime.date(2018, 12, 9)]

In [19]:
date_list = get_time_week(2018,1,1)
d1 = get_csv_data(date_list)

print(d1)

           date        money      money_typ
365  2018-01-01  -579.320926       Shopping
366  2018-01-02 -2098.790683  Entertainment
367  2018-01-03 -1258.181150  Entertainment
368  2018-01-04 -2171.774532      Transport
369  2018-01-05   700.428836         Salary
370  2018-01-06  1436.263181        Youtube
371  2018-01-07  1623.887877         Salary

In [20]:
def get_type_sum(data):
    income_type = ["Salary", "Investment","Gift","Other","Youtube"]
    expend_type = ["Food", "Shopping", "Transport", "Fitness", "Entertainment", "Social", "Travel"]

    intypesum = {}
    extypesum = {}
    for i in income_type:
        intypesum[i]=data[data.money_typ == i].money.sum()

    for _ in expend_type:
        extypesum[_]=abs((data[data.money_typ == _]).money.sum())
        
    return intypesum, extypesum

In [21]:
print(get_type_sum(d1))

({'Salary': 2324.3167125564814, 'Investment': 0.0, 'Gift': 0.0, 'Other': 0.0, 'Youtube': 1436.2631806245172}, {'Food': 0.0, 'Shopping': 579.3209264245968, 'Transport': 2171.7745319021624, 'Fitness': 0.0, 'Entertainment': 3356.9718332908396, 'Social': 0.0, 'Travel': 0.0})

In [22]:
def get_income_sum(data):
    income_sum = data[data.money > 0].money.sum()
    return income_sum

print(get_income_sum(d1))

3760.5798931809986

In [23]:
def get_expend_sum(data):
    income_sum = abs(data[data.money < 0].money).sum()
    return income_sum

print(get_expend_sum(d1))

6108.067291617599